<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
  <category label="General">
    <setting id="device_nickname" type="text"   label="30021" default="Kodi"/>
    <setting id="show_epg"        type="bool"   label="30029" default="true"/>
    <setting id="hide_locked"     type="bool"   label="30018" default="false"/>
    <setting id="relay_url"       type="text"   label="30036" default=""/>
    <setting id="bookmarks"       type="bool"   label="32005" default="true"/>
  </category>
</settings>
